#vocabulite_widget {
	width: 200px;
	height: 200px;
	padding: 10px;
	position: absolute;

	border: 1px solid black;
	z-index: 9999;

	font-family: serif, Georgia;
	background: #fff;
	overflow-y: auto;
}


h1 {
	color: red;
}
