#vocabulite_widget {
	width: 500px;
	height: 200px;
	padding: 10px;
	position: absolute;

	border: 1px solid black;
	z-index: 9999;

	background: #fff;
	overflow-y: auto;
}

#vocabulite_status {
	width: 20px;
	height: 20px;
	position: fixed;
	top: 5px;
	right: 5px;

	border: 1px solid #eee;
	z-index: 9999;

	font-family: serif, Georgia;
	background: #fff;
	text-align: center;
	font-weight: bold;
}

.vocab_title {
	color: red;
}

.vocab_def {
	color: #000;
	font-family: serif, Georgia;
}
